body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
  width: 200px;
  padding: 15px;
  display: flex;
}

h1, h2{
  text-align: center;
}